<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendors/styles/core.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendors/styles/icon-font.min.css')}}">
    <title>Flask_Web</title>
</head>
<body>
    {% include "includes/_navbar.html" %}
    <div class="container">
        <!-- Content here -->
    {% block body %}
    {% endblock %}
    </div>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendors/styles/style.css')}}">
    <!-- js -->



</body>
</html>