{% extends "layouts.html" %}

{% block body %}
<div id="wrap">
    <div id="u_skip">
<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
                <div class="login-box box-shadow border-radius-10">
                    <div class="login-title">
                        <h2 class="text-center text-primary">로그인</h2>
                    </div>
                    <form method="POST" action="/login" onsubmit="return confirm('로그인 하시겠습니까?')">
                        <div class="select-role">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                
                                
                            </div>
                        </div>
                        <div class="input-group custom">
                            <input type="text" class="form-control form-control-lg" name='username' placeholder="아이디를 입력하세요" required>
                            <div class="input-group-append custom">
                                <span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
                            </div>
                            
                        </div>
                        
                        <div class="input-group custom">
                            <input type="password" class="form-control form-control-lg" name='password' placeholder="**********" required>
                            <div class="input-group-append custom">
                                <span class="input-group-text"><i class="dw dw-padlock1"></i></span>
                            </div>
                        </div>
                        
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group mb-0">
                                    <!--
                                        use code for form submit
                                        <input class="btn btn-danger btn-lg btn-block" type="submit" value="Sign In">
                                    -->
                                    
                                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="로그인">
                                </div>
                                <div class="font-16 weight-600 pt-10 pb-10 text-center" data-color="#707373">OR</div>
                                <div class="input-group mb-0">
                                    <a class="btn btn-outline-warning btn-lg btn-block" href="/register">회원가입</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>				
            </div>
        </div>
    </div>
</div>



{% endblock %}

